

@{
    ViewBag.Title = "_LeftSidebar";
}

<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Navigation</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span> Home </span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ion-person-stalker"></i> <span> Miembros </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <!--aca un buble de ls integrantes de la familia-->
                        <li><a href="@Url.Action("AddEditPersona", "Persona")" >Agregar Miembro</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ion-social-bitcoin-outline"></i> <span> Flujo de Caja </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="icons-glyphicons.html">Glyphicons</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ion-pie-graph"></i><span> Estadistica Familiar </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="components-grid.html">Grid</a></li>
                    </ul>
                </li>
                <li class="text-muted menu-title">More</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->

